.container {
    max-width: 600px;
    /* display: flex; */
    margin: 0 auto;
}


/*******************/
/***** WELCOME *****/
/*******************/
.welcome {
    background-color: var(--blue_normal);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome .hero {
    opacity: .5;
}
.welcome .blurb {
    color: var(--neutral_light);
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.welcome .heading {
    font-size: 1.9em;
}
.welcome .subheading {
    display: flex;
    text-align: center;
    margin: 0 2em;
    font-size: .9em;
    max-width: 300px;
}

@media screen and (min-width: 768px) {
    .welcome {
        height: 100vh;
    }
    .welcome .heading {
        font-size: 3.5em;
    }
    .welcome .subheading {
        font-size: 1.5em;
        max-width: 600px;
    }
    .welcome .hero {
        height: 100vh;
        object-fit: cover;
    }
}



/***********************/
/***** THE PROBLEM *****/
/***********************/

.problem {
    background-color: var(--blue_light);
    padding: 3em;
    margin: 0 auto;
}
/* .problem .container {
    max-width: 500px;
    margin: 0 auto;
} */


@media screen and (min-width: 768px) {
    .problem .container {
        max-width: 600px;
        margin: 0 auto;
    }
}



/************************/
/***** THE SOLUTION *****/
/************************/

.solution .blurb {
    padding: 3em;
    /* max-width: 500px; */
    margin: 0 auto;
}
.solution .mockup {
    background-color: var(--pink_medium);
    padding: 3em
}
.solution .mockup .gif {
    max-width: 350px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .solution .blurb {
        padding: 3em 0;
    }
}



/************************/
/***** HOW IT WORKS *****/
/************************/

.how-it-works {
    background-color: var(--blue_light);
    padding: 3em;
}
.how-it-works .onboard-set {
    padding: 1em;
}
.how-it-works .onboard-text {
    text-align: center;
    padding-bottom: 1em;
}
.how-it-works .onboard-icon {
    width: 5em;
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .how-it-works .icon-grid {
        display: grid;
        grid-template-columns: auto auto;
    }
    .how-it-works .onboard-icon {
        width: 3em;
    }

}




/**********************/
/***** EXPERIENCE *****/
/**********************/

.experience-shltr {
    padding: 3em;
}
.experience-shltr .body-text {
    text-align: center;
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*******************/
/***** SUMMARY *****/
/*******************/

.summary {
    background-color: var(--blue_light);
    padding: 3em;
}



/*******************/
/***** SUMMARY *****/
/*******************/
.footer {
    background-color: var(--pink_bold);
    color: var(--neutral_light);
    text-align: center;
    margin: 0 auto;
    padding: .5em;
}