/*******************/
/***** WELCOME *****/
/*******************/
.welcome {
    background-color: var(--blue_normal);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome .hero {
    opacity: .5;
}
.welcome .blurb {
    color: var(--neutral_light);
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.welcome .heading {
    font-size: 1.9em;
}
.welcome .subheading {
    text-align: center;
    margin: 0 2em;
    font-size: .9em;
    max-width: 300px;
}




/***********************/
/***** THE PROBLEM *****/
/***********************/

.problem {
    background-color: var(--blue_light);
    padding: 3em;
    margin: 0 auto;
}
/* .problem .container {
    max-width: 500px;
    margin: 0 auto;
} */



/************************/
/***** THE SOLUTION *****/
/************************/

.solution .blurb {
    padding: 3em;
    /* max-width: 500px; */
    margin: 0 auto;
}
.solution .mockup {
    background-color: var(--pink_medium);
    padding: 3em
}
.solution .mockup .gif {
    max-width: 350px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}



/************************/
/***** HOW IT WORKS *****/
/************************/

.how-it-works {
    background-color: var(--blue_light);
    padding: 3em;
}
.how-it-works .onboard-set {
    padding: 1em;
}
.how-it-works .onboard-text {
    text-align: center;
    padding-bottom: 1em;
}
.how-it-works .onboard-icon {
    width: 5em;
    display: flex;
    margin: 0 auto;
}