


/*******************/
/***** WELCOME *****/
/*******************/
.welcome {
    background-color: var(--pink_light);
    padding: 3em;
    padding-top: var(--header-height);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}
/* .welcome .hero {
    opacity: .5;
} */
.welcome .blurb {
    color: var(--neutral_dark);
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.welcome .hero {
    max-width: 500px;
}
.welcome .heading {
    font-size: 3em;
    padding-bottom: 0;
}
.welcome .subheading {
    display: flex;
    text-align: center;
    /* margin: 0 2em; */
    font-size: 1.25em;
    /* max-width: 300px; */
}

@media screen and (min-width: 768px) {
    /* .welcome {
        height: 100vh;
    } */
    .welcome .hero {
        max-width: 400px;
    }
    .welcome .heading {
        font-size: 3.5em;
    }
    .welcome .subheading {
        font-size: 1.75em;
        max-width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    .welcome {
        flex-direction: row-reverse;
        padding: 5em;
        height: 100vh;
    }
    .welcome .blurb {
        width: 50vw;
        margin-top: 0;
    }
    .welcome .image-container {
        width: 50vw;
    }
    .welcome .hero {
        width: 100%;
        max-width: 500px;
    }
    .welcome .heading {
        text-align: left;
        font-size: 4em;
        padding-bottom: 0;
    }
    .welcome .subheading {
        text-align: left;
        margin: 0;
        font-size: 2.25em;
    }
    .welcome .container {
        max-width: none;
    }
    .welcome .subsection {
        padding: 2em;
    }
}



/***********************/
/***** THE PROBLEM *****/
/***********************/

.problem {
    background-color: var(--blue_light);
    padding: 3em;
    margin: 0 auto;
}
/* .problem .container {
    max-width: 500px;
    margin: 0 auto;
} */


@media screen and (min-width: 768px) {
    .problem .container {
        max-width: 600px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px) {
    .problem {
        padding: 7em;
        text-align: center;
    }
    .problem .container {
        max-width: 700px;
    }
}





/************************/
/***** THE SOLUTION *****/
/************************/

.solution .blurb {
    padding: 3em;
    /* max-width: 500px; */
    margin: 0 auto;
}
.solution .mockup {
    background-color: var(--pink_medium);
    padding: 3em
}
.solution .mockup .gif {
    max-width: 350px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .solution .blurb {
        padding: 3em 0;
    }
}
@media screen and (min-width: 1024px) {
    .solution {
        display: flex;
    }
    .solution .blurb {
        width: 50vw;
        padding: 7em;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        max-width: 700px;
    }
    .solution .blurb .heading {
        text-align: left;
    }
    .solution .mockup {
        width: 50vw;
    }
    .solution .mockup .gif {
        max-width: 250px;
    }
}




/************************/
/***** HOW IT WORKS *****/
/************************/

.how-it-works {
    background-color: var(--blue_light);
    padding: 3em;
}
.how-it-works .icon-grid {
    margin: 0 auto;
}
.how-it-works .onboard-set {
    padding: 1em;
}
.how-it-works .onboard-text {
    text-align: center;
    padding-bottom: 1em;
}
.how-it-works .onboard-icon {
    width: 5em;
    display: flex;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .how-it-works .icon-grid {
        display: grid;
        grid-template-columns: auto auto;
    }
    .how-it-works .onboard-icon {
        width: 3em;
    }

}

@media screen and (min-width: 1024px) {
    .how-it-works {
        padding: 7em;
    }
    /* .how-it-works .container{
        max-width: 900px;
    } */
    .how-it-works .icon-grid {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    /* .how-it-works .onboard-set {
        margin: 0 2em;
    } */
    .how-it-works .onboard-text {
        width: 225px;
    }

    .how-it-works .onboard-icon {
        width: 50px;
    }

}




/**********************/
/***** EXPERIENCE *****/
/**********************/

.experience-shltr {
    padding: 3em;
}
.experience-shltr .body-text {
    text-align: center;
}


/* .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
@media screen and (min-width: 1024px) {
    .experience-shltr {
        padding: 7em;
    }
}



/*******************/
/***** SUMMARY *****/
/*******************/

.summary {
    background-color: var(--blue_light);
    padding: 3em;
}

/* @media screen and (min-width: 768px) {
    .summary .iso-image .image {
        max-width: 400px;
        display: flex;
        margin: 0 auto;
    }
} */

@media screen and (min-width: 1024px) {
    .summary {
        display: flex;
        flex-direction: row-reverse;
        padding: 7em;
    }
    .summary .blurb {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

}




/*******************/
/***** SUMMARY *****/
/*******************/
.footer {
    background-color: var(--neutral_dark);
    color: var(--neutral_light);
    text-align: center;
    margin: 0 auto;
    padding: .5em;
}