@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');

:root {

    /*COLOURS*/
    /* Neutral */
    --neutral_light: rgb(255, 255, 255); /*#ffffff*/
    --neutral_medium: rgb(201, 201, 201);
    --neutral_normal: rgb(132, 128, 128);
    --neutral_dark: rgb(51, 51, 51);

    /* Pink */
    --pink_light: rgb(254, 231, 230);
    --pink_medium: rgb(253, 184, 179);
    --pink_normal: rgb(252, 122, 128);
    --pink_bold: rgb(252, 76, 94);

    /* Blue */
    --blue_light: rgb(219, 230, 236);
    --blue_medium: rgb(146, 181, 199);
    --blue_normal: rgb(73, 131, 161);
    --blue_bold: rgb(24, 104, 140);

    /*FONTS*/
    --text__heading: 'Poppins', sans-serif;
    --text__subheading: 'Poppins', sans-serif;
    --text__main: 'Open Sans', sans-serif;

    /* Header height */
    --header-height: 76px;

}



/* General */
.image, .gif, .video {
    width: 100%;
}

.hide {
    display: none;
}
.heading {
    font-family: var(--text__heading);
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
    line-height: 140%;
}
.subheading {
    font-family: var(--text__subheading);
    font-size: 1.4em;
    line-height: 140%;
}
.body-text {
    font-family: var(--text__main);
    /* text-align: center; */
    line-height: 140%;
    padding-bottom: 1em;
}

.container {
    max-width: 600px;
    /* display: flex; */
    margin: 0 auto;
}

.link-hover {
    color: var(--blue_bold);
}
.link-hover:hover {
    color: var(--pink_bold);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header .link-hover:hover a{
    color: var(--pink_bold);
}

@media screen and (min-width: 768px) {
    .heading {
        font-size: 2.2em;
    }
    .subheading {
        font-size: 1.4em;
    }
    .body-text {
        font-size: 1.2em;
        line-height: 150%;
    }


    .container {
        max-width: 600px;
        /* display: flex; */
        margin: 0 auto;
    }
}



@media screen and (min-width: 1024px) {
    .container {
        max-width: 700px;
        /* display: flex; */
        margin: 0 auto;
    }
}





/* Header */
.header {
    background-color: rgba(51, 51, 51, .65);
    width: 100%;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 0px 5px var(--neutral_dark);
    padding: 0 1.25em;
}
.nav {
    display: flex;
}
.brand {
    display: flex;
    align-items: center;
    position: relative;
}
.name {
    font-family: var(--text__heading);
    font-size: 1em;
    padding-left: 1em;
}
.logo {
    /* height: auto; */
    width: 2em;
    /* display: flex; */
    /* padding: 1em; */
    
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li {
    display: flex;
}
.nav-link {
    text-decoration: none;
    color: var(--neutral_light);
    padding: 1em;

}


@media screen and (min-width: 768px) {
   
    .logo {
        width: 2.5em;        
    }
}

@media screen and (min-width: 1024px) {
   
    .header {
        padding: 0 7em;
    }
    .logo {
        width: 3em;        
    }
}